<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="student" class="com.cg.li.Student">
		<property name="studentName" value="Bibhuti Bhusan Sahoo" />
		<property name="id" value="1" />
		<property name="Address" value="Bhubaneswar"/>
	</bean>

	<bean id="mathCheatObjectValue" class="com.cg.constructor.MathCheat"></bean>
	<bean id="stu" class="com.cg.constructor.Student">
		<property name="id" value="1001" />
		<property name="mathCheat" ref="mathCheatObjectValue" />
	</bean>


</beans>